@font-face {
    font-family: century;
    src: url(fonts/CenturyGothic/centurygothic.ttf);
}
@font-face {
    font-family: century-bold;
    src: url(fonts/CenturyGothic/centurygothic_bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
}

.flex-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header {
    background-image: url(images/FONDO-HEADER.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 50dvh;
}

header img {
    width: 400px;
    margin-bottom: 3em;
}

header p {
    font-family: century;
    font-size: 1.5rem;
    color: white;
    width: 850px;
    text-align: center;
}

.bienvenida {
    padding: 5em 0;
    width: 100dvw;
    background-color: #00072C;
    font-family: century;
}

.bienvenida--titulo {
    width: 500px;
    height: 150px;
}

.bienvenida--titulo h1 {
    color: #b854f1;
    font-size: 3rem;
}

.bienvenida--titulo p {
    text-align: center;
    color: beige;
    font-size: 1rem;
}
.bienvenida--cuerpo {
    gap: 5em;
    margin: 1em ;

}

.bienvenida--cuerpo .form {
    padding: 1em;
    border-radius: 15px;
}

.icon {
    width: 100%;
    height: 100px;
    margin: 1em 0;
}



.form {
    gap: 0rem;
    background-color: rgb(207, 191, 233);
    border-radius: .7rem;
    width: 400px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: century;
    border-radius: 18px;
}

.form h4 {
    font-size: 2rem;
    text-align: center;
    background-color: #00001E;
    padding: 1em 0;
    color: #F577D2;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.input-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-left: 20px;
}

.input-container input, .input-container select{
    width: 90%;
    height: 2rem;
    border-radius: .3rem;
    font-family: century;
    font-weight: 500;
    border: none;
    align-self: center;
}

.button-add {
    width: 50%;
    height: 2rem;
    font-size: 1rem;
    font-family: century;
    border-radius: .3rem;
    border: none;
    background-color: #272727;
    color: white;
    margin: 1em 0;

}

.button-add:hover {
    background-color: #b854f1;
    cursor: pointer;
}

.total-container {
    width: 100dvw;
    background-color: #282047;
    position: relative;
}

#total-neto {
    font-family: century-bold;
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 1em 0;
}
#total-neto::before {
    transform: translateX(-10);
    width: fit-content;
    height: fit-content;
    font-size: 4.5rem;
    font-family: century;
    text-align: center;
    content: '$';
}

#total-neto::after {
    display: block;
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    font-family: century;
    text-align: center;
    content: 'Total disponible';
}

.registradora {
    width: 100dvw;
    background-color: #00072C;
    padding: 7em 0;
    gap: 9em;
}

.historiales {
    background-color: #00001E;
    padding-bottom: 8em;
}

.historial {
    width: 70%;
    font-family: century;
    font-size: 2rem;
    background-color: #00001E;
    margin-top: 4em;
}

.historial tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.historial-categorias th {
    padding: 1rem;
    width: 100%;
    background-color: #272727;
    color: #F577D2;
    border: 2px solid black;
    border-collapse: collapse;
}
.historial tr.hidden {
    display: none;
}

.historial tr:nth-child(even){
    background-color: #e7ade9;
}
.historial tr:nth-child(odd){
    background-color: rgb(204, 120, 200);
}

section {
    width: 100dvw;
}

.historial td {
    padding: 1rem;
    width: 100%;
    text-align: center;
}


.historial-titulo {
    width: 100%;
    font-size: 3rem;
    color: #f8c6ff;
    background-color: #282047;
    padding: 40px;
}

.hidden {
    display: none;
}

.objetivos-presupuestos {
    background-color: #00072C;
    display: flex;
    flex-direction: row;
    
}

#mis-presupuestos, #mis-objetivos {
    width: 50%;
    color: #b854f1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #5c488c;
}

#mis-presupuestos h4, #mis-objetivos h4 {
    background-color: #272727;
}




.objetivos-presupuestos h4 {
    font-family: century;
    font-size: 3rem;
}

#mis-objetivos h6, #mis-presupuestos h6 {
    font-family: century;
    font-size: 2rem;
    color: white;
    text-wrap: wrap;
    padding:1rem 0 0.5rem 0;
}
.boton-guardar--container {
    background-color: #272727;
}

#boton--guardar-cambios {
    background-color: #00072C;
    color: #ffffff;
    font-size: 3rem;
    height: fit-content;
    padding: 2rem 0;
}

#boton--guardar-cambios:hover {
    background-color: #F577D2;

}

footer {
    background-color: black;
    width: 100dvw;
}

footer img {
    width: 300px;
    margin: 3em 0 1em 0;
}

footer p {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-family: century;
    margin-bottom: 3em;
}