@font-face {
    font-family: century;
    src: url(../fonts/CenturyGothic/centurygothic.ttf);
}
@font-face {
    font-family: century-bold;
    src: url(../fonts/CenturyGothic/centurygothic_bold.ttf);
}


:root{
    --color-primario: #3D3858;
    --color-primario-oscuro: #26293B;
    --color-secundario: #d99bd3;
    --color-secundario-oscuro: #a37ec8;
    --color-suave: #a8acd5;
    --color-gris-oscuro: #0b0b0b;
    --color-bw: #ffffff;
    --color-wb: #000000;
    --color-azul-oscuro: #0f041c;
    --color-rosa-fuerte: #f577d2;
    --color-borgonia: #3f223e;
    --animate-duration: 400ms;
    --animation-iteration-count: 1;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.flex-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header {
    background-image: url(../images/FONDO-HEADER.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    gap: 3rem;
}

header img {
    width: 40rem;
}

header p {
    font-family: century;
    font-size: 1.5rem;
    color: var(--color-bw);
    width: 850px;
    text-align: center;
}

header a {
    font-size: 1.5rem;
    text-align: center;
    font-family: century;
    border-radius: .7rem;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: #272727;
    color: var(--color-bw);
}

header a:hover {
    background-color: var(--color-primario);
}

.bienvenida {
    padding: 5em 0;
    width: 100%;
    /* background-color: var(--color-primario-oscuro); */
    background: url(../images/bienvenida-fondo.png);
    background-size: cover;
    font-family: century;

}

.bienvenida--titulo {
    width: 120rem;
}

.bienvenida--titulo h1 {
    color: var(--color-secundario);
    font-size: 3rem;
}

.bienvenida--titulo p {
    text-align: center;
    color: var(--color-suave);
    font-size: 1.5rem;
    padding: 3rem 0;

}
.bienvenida--cuerpo {
    gap: 5em;
    width: 100%;
    margin: 1em ;
}


.bienvenida--cuerpo .form {
    border-radius: 15px;
}

.icon-container {
    background-color: var(--color-azul-oscuro);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.icon {
    height: 7rem;
}


.form {
    gap: 0rem;
    background-color: var(--color-primario);
    width: 400px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: century;
    border-radius: 1rem;
}

.form h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--color-secundario);
}



.form h4 {
    font-size: 2rem;
    text-align: center;
    padding: 1em 0;
    color: var(--color-rosa-fuerte);
    width: 100%;
}

.input-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
}

.input-container label {
    margin-left: 20px;
    color: var(--color-secundario);
    font-size: 1.2rem;
    font-family: century;
}

.input-container input, .input-container select{
    width: 90%;
    border-radius: .3rem;
    font-family: century;
    padding: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
    align-self: center;
    background-color:  var(--color-primario-oscuro);
    color: var(--color-bw);
    border: none;
    
}

.button-add {
    padding: .8rem 3rem;
    font-size: 1.4rem;
    font-family: century;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
    background: var(--color-secundario-oscuro);
    color: var(--color-bw);
    margin: 1em 0;

}

.button-add:hover {
    background-color:var(--color-secundario);
    cursor: pointer;
}

.total-container {
    width: 100%;
    background-color: var(--color-gris-oscuro);
    position: relative;
}

#total-neto {
    font-family: century-bold;
    font-size: 5rem;
    color: var(--color-bw);
    text-align: center;
    padding: 1em 0;
}
#total-neto::before {
    transform: translateX(-10);
    width: fit-content;
    height: fit-content;
    font-size: 4.5rem;
    font-family: century;
    text-align: center;
    content: '$';
}

#mis-objetivos--body h6.objetivo-completado, #mis-presupuestos--body h6.presupuesto-completado {
    color: var(--color-rosa-fuerte);
    background-color: #553055c1;
}

#total-neto::after {
    display: block;
    width: 100%;
    height: fit-content;
    font-size: 1.5rem;
    font-family: century;
    text-align: center;
    content: 'TOTAL DISPONIBLE';
}

.registradora {
    width: 100%;
    /* background-color: #00072C; */
    background: url(../images/registradora-fondo.png);
    background-size: cover;
    padding: 7em 0;
    gap: 3em;
}

.historiales {
    background-color: var(--color-azul-oscuro);
    padding-bottom: 8em;
}

.historial {
    width: 60%;
    font-family: century;
    font-size: 2rem;
    margin-top: 4em;
    border-radius: 2rem 2rem 0 0;

}

.historial tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

tbody tr {
    transition: .5s ease;

}

tbody tr:last-child {
    border-radius: 0 0 2rem 2rem;
}

.historial-categorias {
    border-radius: 2rem 2rem 0 0;
}

.historial-categorias th {
    padding: 1.5rem 0;
    width: 100%;
    font-size: 1.7rem;
    color: var(--color-secundario);
    border-collapse: collapse;
}
.historial tr.hidden {
    display: none;
}

.historial tr:nth-child(even){
    background-color: var(--color-primario);
}
.historial tr:nth-child(odd){
    background-color: var(--color-primario-oscuro);
}

section {
    width: 100%;
}

.historial td {
    padding: 1rem;
    width: 100%;
    color: var(--color-bw);
    text-align: center;
    font-size: 1.4rem;
}


.historial-titulo {
    width: 100%;
    font-size: 3rem;
    color: var(--color-rosa-fuerte);
    background-color: var(--color-azul-oscuro);
    padding: 40px;
}

.monto-historiales::before {
    transform: translateX(-10);
    width: fit-content;
    height: fit-content;
    font-size: 1.4rem;
    font-family: century;
    text-align: center;
    content: '$';
}

.hidden {
    display: none;
}

.objetivos-presupuestos {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    justify-content: center;
    background: url(../images/objetivos-fondo.png);
    background-size: cover;
    gap: 5rem;
    padding: 5rem 0;
}

.objetivos-presupuestos h6 {
    
}

#mis-presupuestos, #mis-objetivos {
    width: 30%;
    color: var(--color-secundario);
    background-color: var(--color-primario-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    height: 100%;
}


#mis-objetivos--body, #mis-presupuestos--body {
    min-height: 70dvh;
    width: 100%;
    padding: 2rem 3rem;
    gap: 2rem;
    display: flex;
    background: url(../images/ISOLOGO-fondo.png);
    background-size: contain;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
}



#mis-presupuestos h4, #mis-objetivos h4 {
    font-family: century;
    font-size: 3rem;
    background-color: var(--color-azul-oscuro);
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
}

#mis-objetivos--body h6, #mis-presupuestos--body h6 {
    font-family: century;
    font-size: 2rem;
    color: var(--color-bw);
    text-wrap: wrap;
    text-align: center;
    padding: 1rem 4rem;
    width: 30rem;
    height: fit-content;
    background-color: #f8c6ff3f;
    border: var(--color-secundario) 2px solid;
    border-radius: 1rem;
    transition: .3s;
}

#categorias-container {
    width: 100%;
    background: url(../images/categorias-fondo.png);
    font-family: century;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#categorias-container h1 {
    font-size: 3rem;
    color: var(--color-bw);
    padding: 1em;
}

#mis-categorias--body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.categoria--card {
    width: 18%;
    height: 20rem;
    margin: 10px;
    background-color: var(--color-primario-oscuro);
    color: var(--color-bw);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    transition: .3s;
    opacity: 0.65;
    border: 2px var(--color-suave) solid;
}

.categoria--card.ingreso{
    border: 2px var(--color-rosa-fuerte) solid;

}

.categoria--card h2 {
    font-size: 2rem;
}

.card--icon {
    width: 80px;
    padding: 2rem 0;
}


.categoria--card:hover, .categoria--card.ingreso:hover {
    transition: all .5s;
    opacity: 0.95;
    scale: 1.05
}

#mis-objetivos--body h6:hover, #mis-presupuestos--body h6:hover {
    transition: all .5s;
    scale: 1.05;
    will-change: transform;
    background-color: #f8c6ff99;
}

#mis-objetivos--body h6.objetivo-completado:hover, #mis-presupuestos--body h6.presupuesto-completado:hover{
    background-color: #553055ef;
    will-change: transform;
    transition: all .5s;
}

.categoria--card p{
    font-family: century;
    font-size: 3rem;
}

.categoria--card p::before {
    font-size: 3rem;
    font-family: century;
    content: '$';
}

.categoria--card.ingreso {
    background-color: var(--color-borgonia);
    color: var(--color-secundario);
}

.button-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-add img {
    width: 100px;
}




.boton-guardar--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:var(--color-azul-oscuro);
}

.boton-guardar--container button {
    background-color: var(--color-primario-oscuro);
    border-radius: 0;
    color: #ffffff;
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
}

.boton-guardar--container button:hover {
    background-color: var(--color-primario);

}

footer {
    background-color: var(--color-wb);
    width: 100%;
}

footer img {
    width: 300px;
    margin: 3em 0 1em 0;
}

footer p {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-family: century;
    margin-bottom: 3em;
}

.swal2-popup {
    background-color: #26293b;
}

.swal2-title {
    font-family: century;
    font-size: 3rem ;
    color: #a394c7 ;
}

#swal2-html-container{
    font-family: century;
    color: #a394c7;
    font-size: 20px;
}

.swal2-confirm {
    font-family: century;
    background-color: #5c488c;
}

.swal2-deny {
    font-family: century;
    background-color: #3f223e;
}

.toastify {
    position: fixed;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-family: century-bold;
    color: #b854f1;
    background: #3e2358;
}

